'.source.pony':
  'editor':
    'increaseIndentPattern': '^\\s*(type|trait|class|actor).*$|^\\s*(if|then|else|elseif|for|do|while|repeat|until|try|match)\\b((?!end).)*$|^.*(\\{[^\\}]*|\\([^\\)]*|\\[[^\\]]*|=>\\s*)$'
    'decreaseIndentPattern': '^\\s*(then|else|elseif|until|end|\\|)'
'.keyword.other.documentation.ponydoc.pony':
  'editor':
    'completions': [
      'author'
      'version'
      'param'
      'return'
      'exception'
      'see'
      'since'
      'serial'
      'deprecated'
      'link'
    ]
